<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <style>
        body{
            background-image: url('https://ftp.bmp.ovh/imgs/2021/06/80c82ca5bf017874.png') ;
            background-size:cover;
        }
    </style>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="/js/materialize.min.js"></script>

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo" th:text="${user}">用户</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">导航链接</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s3">
            <div class="collection">
                <a href="http://localhost:8080/astudent/studentallcourses" class="collection-item">所有课程</a>
                <a href="http://localhost:8080/astudent/studentselectedcourses" class="collection-item">已选课程</a>
                <a href="http://localhost:8080/astudent/studentmarkedcourses" class="collection-item">已修课程</a>
                <a href="#!" class="collection-item active">修改密码</a>
                <a href="#!" class="collection-item">退出系统</a>
            </div>
        </div>
        <div class="col s9">
            <h3 th:text="${pageTitle}"></h3>
            <div id="changePwdForm">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">dialpad</i>
                            <input id="uoldpwd" name="uoldpwd" type="password" class="validate" v-model="oldpwd">
                            <label class="active" for="uoldpwd">旧密码</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="unewpwd" name="unewpwd" type="password" class="validate" v-model="newpwd">
                            <label class="active" for="unewpwd">密码</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="unewpwd2" name="unewpwd2" type="password" class="validate" v-model="newpwd2">
                            <label class="active" for="unewpwd2">确认新密码</label>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <button class="btn waves-effect waves-light col s12" type="button" @click="submitForm()">
                        <i class="material-icons">assignment_ind</i>
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    new Vue({
        el:"#changePwdForm",
        data:{
            oldpwd:"",
            newpwd:"",
            newpwd2:"",
            errMsg:"",
            resMsg:""
        },
        methods:{
            submitForm:function (){
                //封装表单参数
                const formDate=new FormData();
                formDate.append("oldpwd",this.oldpwd);
                formDate.append("newpwd",this.newpwd);
                formDate.append("newpwd2",this.newpwd2);

                axios
                    .post('http://localhost:8080/astudent/changepwd',formDate)
                    .then(response =>{
                        if(response.data.result){
                            alert(response.data.resMsg);
                            window.open('http://localhost:8080/');
                        }else{
                            alert(response.data.errMsg);
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            }
        }
    })
</script>