<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.eas.dao.SelectedcourseMapper" >
  <resultMap id="BaseResultMap" type="com.example.eas.entity.Selectedcourse" >
    <result column="courseID" property="courseid" jdbcType="INTEGER" />
    <result column="studentID" property="studentid" jdbcType="INTEGER" />
    <result column="mark" property="mark" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    courseID, studentID,mark
  </sql>

  <!-- 2021年6月26日20:27:20 查询学生是否选择某门课程 -->
  <select id="selectSelectedCourseByStudentidAndCourseid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from selectedcourse
    where studentID = #{studentid}
    and
    courseID = #{courseid}
  </select>

  <!-- 2021年6月27日00:01:41 查询某个学生已选的课程-->
  <select id="selectSelectedCourseByStudentid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
      from selectedcourse
    where studentID = #{studentid}
    and
    mark is null
  </select>

  <!-- 2021年6月27日00:35:54 查询某个学生已修的课程 -->
  <select id="selectSelectedMarkedCourseByStudentid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from selectedcourse
    where studentID = #{studentid}
    and
    mark is not null
  </select>

  <!-- 2021年6月27日13:50:16 查询某个课程id对应的所有被选择的课程 -->
  <select id="selectSelectedCoursesByCourseid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from selectedcourse
    where courseID = #{courseid}
  </select>

  <!-- 2021年6月28日22:59:24 根据studentid删除课程 -->
  <delete id="deleteByStudentId" parameterType="java.lang.Integer" >
    delete from selectedcourse
    where studentID = #{studentid}
  </delete>

  <insert id="insert" parameterType="com.example.eas.entity.Selectedcourse" >
    insert into selectedcourse (courseID, studentID, mark
      )
    values (#{courseid,jdbcType=INTEGER}, #{studentid,jdbcType=INTEGER}, #{mark,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.eas.entity.Selectedcourse" >
    insert into selectedcourse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseid != null" >
        courseID,
      </if>
      <if test="studentid != null" >
        studentID,
      </if>
      <if test="mark != null" >
        mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseid != null" >
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="studentid != null" >
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!-- 2021年6月27日15:58:00 根据studentid，courseid更新学生的分数 -->
  <update id="updateMarkByStudentidAndCourseId" parameterType="com.example.eas.entity.Selectedcourse">
    update selectedcourse
    <set>
      <if test="mark != null" >
        mark = #{mark,jdbcType=INTEGER}
      </if>
    </set>
    where studentID = #{studentid,jdbcType=INTEGER}
    and
      courseID = #{courseid,jdbcType=INTEGER}
  </update>

  <!-- 2021年6月27日16:04:03 加一个selective的方法吧，比较安全，我感觉自己写的不稳 -->
</mapper>