<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎使用新版教务系统</title>
    <!--Materialize 使用-->
<!--    <link rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>-->
    <style>
        body{
            background-image: url('https://ftp.bmp.ovh/imgs/2021/06/07c42db3ee054c4a.jpg') ;
        }
        #navlogo{
            margin-left: 20px;
        }
        #indexform{
            margin-top: 50px;
        }
        #footerme{
            margin-top: 400px;
        }
    </style>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<div class="navbar-fixed">
    <nav class="blue darken-1">
        <div class="nav-wrapper container">
            <a id="navlogo" href="#!" class="brand-logo">教务管理系统</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://gitee.com/bluebonnet27/eas" target="_blank">项目主页</a></li>
                <li><a href="mailto:tihongsheng@foxmail.com">联系我</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col s6" id="indexform">
            <form class="col s12">
                <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="uname" name="uname" type="text" class="validate" v-model="uname">
                            <label class="active" for="uname">用户名</label>
                        </div>
                </div>
                <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <input id="upwd" name="upwd" type="password" class="validate" v-model="upwd">
                            <label class="active" for="upwd">密码</label>
                        </div>
                </div>
<!--                <button class="btn waves-effect waves-light" type="submit">提交-->
<!--                    <i class="material-icons right">send</i>-->
<!--                </button>-->
            </form>
            <div class="row">
                <button class="btn waves-effect waves-light col s12" type="button" @click="submitForm()">
                    <i class="material-icons">perm_identity</i>
                    登录
                </button>
            </div>
        </div>
        <div class="col s6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">卡片标题</span>
                    <p>我是一个很简单的卡片。我很擅长于包含少量的信息。我很方便，因为我只需要一个小标记就可以有效地使用。</p>
                </div>
                <div class="card-action">
                    <a href="#">这是一个链接</a>
                    <a href="#">这是一个链接</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer orange" id="footerme">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">我们的团队</h5>
                <p class="grey-text text-lighten-4">我们是一个在这个项目上工作的大学生团队，就像是我们的全职工作。任何金额将有助于支持和继续在这个项目上的发展，并不胜感激。</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">设置</h5>
                <ul>
                    <li><a class="white-text" href="#!">链接 1</a></li>
                    <li><a class="white-text" href="#!">链接 2</a></li>
                    <li><a class="white-text" href="#!">链接 3</a></li>
                    <li><a class="white-text" href="#!">链接 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">链接</h5>
                <ul>
                    <li><a class="white-text" href="#!">链接 1</a></li>
                    <li><a class="white-text" href="#!">链接 2</a></li>
                    <li><a class="white-text" href="#!">链接 3</a></li>
                    <li><a class="white-text" href="#!">链接 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://www.materializecss.cn">Materialize</a>
        </div>
    </div>
</footer>
</body>
</html>
<script>
    new Vue({
        el:"#indexform",
        data:{
            uname:"admin",
            upwd:"123",
            errMsg:"",
            resMsg:""
        },
        methods:{
            submitForm:function (){
                //封装表单参数
                const formDate=new FormData();
                formDate.append("username",this.uname);
                formDate.append("pwd",this.upwd);

                axios
                    .post('http://localhost:8080/auserlogin/login',formDate)
                    .then(response =>{
                        if(response.data.result){
                            if(response.data.resMsg==="0"){
                                window.open('http://localhost:8080/admincontroller/ashowallcourses');
                            }else if(response.data.resMsg==="1"){
                                window.open('http://localhost:8080/ateacher/teachercourses');
                            }else if(response.data.resMsg==="2"){
                                window.open('http://localhost:8080/astudent/studentallcourses');
                            }else {
                                alert("发生了一个意外的错误导致登录失败！")
                            }
                        }else{
                            alert(response.data.errMsg);
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            }
        }
    })
</script>